*.db
*.dll
*.filters
*.lib
*.obj
*.opendb
*.pdb
*.sdf
*.suo
*.user
*/Debug/*
*/Release/*
include/SDL*.h
include/begin_code.h
include/close_code.h
include/crc32.h
include/curses.h
include/deflate.h
include/gzguts.h
include/inffast.h
include/inffixed.h
include/inflate.h
include/inftrees.h
include/panel.h
include/png.h
include/pngconf.h
include/pngdebug.h
include/pnginfo.h
include/pnglibconf.h
include/pngpriv.h
include/pngstruct.h
include/trees.h
include/zconf.h
include/zlib.h
include/zutil.h
